/* Color, Typography 와 같은 최하위 요소의 토큰화 */

/* 외부 폰트 불러오기 (Pretendard) */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
    /* 다크모드 기준 그레이스케일 컬러 팔레트*/
    --gray_000 : #121212;
    --gray_005 : #212121;
    --gray_007 : #2e2e2e;
    --gray_010 : #383838;
    --gray_020 : #4f4f4f;
    --gray_030 : #696969;
    --gray_040 : #919191;
    --gray_050 : #ababa9;
    --gray_060 : #c2c2c0;
    --gray_070 : #d6d6d6;
    --gray_080 : #e6e6e6;
    --gray_090 : #f5f5f5;
    --gray_100 : #ffffff;

    /* font 토큰 */
    --font-main: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
}