/* Color, Typography 와 같은 최하위 요소의 토큰화 */

/* 외부 폰트 불러오기 (Pretendard) */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  /* 다크모드 기준 그레이스케일 컬러 팔레트*/
  --fure-black: #000000;
  --fure-white: #ffffff;

  --gray_000: #151515;
  --gray_005: #212121;
  --gray_007: #2e2e2e;
  --gray_010: #383838;
  --gray_020: #4f4f4f;
  --gray_030: #696969;
  --gray_040: #919191;
  --gray_050: #ababa9;
  --gray_060: #c2c2c0;
  --gray_070: #d6d6d6;
  --gray_080: #e6e6e6;
  --gray_090: #f5f5f5;

  /* color 토큰 */
  --secondary-pink: #f665ee;
  --secondary-green: #34dc59;
  --secondary-blue: #5131ff;
  --secondary-orange: #f73a00;

  /* font 토큰 */
  --font-main: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, sans-serif;

  /* font family 토큰*/
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Font 사이즈 토큰 */
  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-md: 1rem; /* 16px (기본) */
  --fs-lg: 1.125rem; /* 18px */
  --fs-xl: 1.25rem; /* 20px */
  --fs-2xl: 1.5rem; /* 24px */
  --fs-3xl: 1.875rem; /* 30px */
  --fs-4xl: 2.25rem; /* 36px */

  /* font usage 외 사이즈 토큰 */
  --fs-huge: 3.125rem; /* 50px */
}

.fw-thin {
  font-weight: var(--fw-thin);
}
.fw-light {
  font-weight: var(--fw-light);
}
